.free-plan-network-scanning-sql-attack-injection-tcp-dump-analysis-on-site-report-viewing-sub67 {
  font-family: 'Outfit';
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 1.333;
}
.free-plan-network-scanning-sql-attack-injection-tcp-dump-analysis-on-site-report-viewing {
  font-family: 'Outfit';
  font-weight: 600;
  font-size: 43px;
  letter-spacing: 3px;
  line-height: 1.333;
  color: rgba(255, 255, 255, 0.75);
}
.freee-plan .free-plan-network-scanning-sql-attack-injection-tcp-dump-analysis-on-site-report-viewing {
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 600;
  font-size: 43px;
  letter-spacing: 3px;
  line-height: 1.453;
  color: rgba(255, 255, 255, 0.75);
}
.free-plan-network-scanning-sql-attack-injection-tcp-dump-analysis-on-site-report-viewing-sub64 {
  font-family: 'Outfit';
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 3px;
  line-height: 1.333;
  color: rgba(255, 255, 255, 0.75);
}
.free-plan-network-scanning-sql-attack-injection-tcp-dump-analysis-on-site-report-viewing-sub63 {
  font-family: 'Outfit';
  font-weight: 600;
  font-size: 43px;
  letter-spacing: 3px;
  line-height: 1.333;
  color: rgba(255, 255, 255, 0.75);
}
.freee-plan {
  border-radius: 31px;
  background: rgba(135, 207, 208, 0.85);
  display: flex;
  padding: 69.6px 0.5px 65.4px 26px;
  box-sizing: border-box;
}
