.paid .rectangle-37 {
  border-radius: 31px;
  background: rgba(141, 141, 218, 0.75);
  position: absolute;
  left: 0px;
  right: 32.5px;
  bottom: 0px;
  height: 863.6px;
}
.pro-plan-network-scanning-sql-attack-injection-tcp-dump-analysis-cross-site-scripting-sub-domain-discovery-on-site-report-viewing-downloadable-report-pdf-email-report-to-given-address-for-only-5-sub10 {
  font-family: 'Outfit';
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 3.5px;
  line-height: 1.333;
}
.paid .pro-plan-network-scanning-sql-attack-injection-tcp-dump-analysis-cross-site-scripting-sub-domain-discovery-on-site-report-viewing-downloadable-report-pdf-email-report-to-given-address-for-only-5 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 3.5px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.75);
}
.paid {
  border-radius: 31px;
  display: flex;
  padding-bottom: 37px;
  width: 708px;
  box-sizing: border-box;
}

